<div class="container-fluid">

  <div class="panel panel-primary" ng-repeat="dockerContainer in dockerContainers">
    <div class="panel-heading">
      <h4 class="panel-title">Docker Container</h4>
    </div>

    <div class="panel-body">
      <div ng-include="'app/containers/partials/basic-data.html'"></div>
      <br/>
      <div ng-include="'app/containers/partials/inspection-data.html'"></div>
      <br/>

      <div ng-include="'/app/containers/partials/action-footer.html'"></div>


    </div>
  </div>

</div>
